body{
	margin: 0;
	font-family: 'Times new Roman', Arial, serif;
	font-size: 20px;
	line-height: 30px;
}
header{
	background-color: #F9E79F;
	text-align: center;
	padding-top: 50px;
	padding-bottom:50px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
	border: 10px solid  #58D68D; 

}
.caption{
	text-align: center;
	color: grey;
	 font-style: italic;
	 font-size: 14px;
	
}

header h1{
	color: #F39C12;
}
	h1 {
  text-shadow: 2px 2px #12D9F3;
}
main{
	padding: 50px;
background-image: linear-gradient(#D4F9F5,#F9F5D4,#F5D4F9)}

header img{
	border-radius: 150px;
	width: 450px;
	border: 10px solid #F39C12; 
}
.mySelector {
    width: 50%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #FFFFCD ;
}
h2{
	text-align: center;
	<hr>
}



